h1
  {
    color: #ff185f;
    font: 25px;
    font-family: courier, monospace;
  }

p
  {
    font: 15px;
    font-family: courier, monospace;
  }

a:link
  {
    color: #ff185f;
    font-family: courier, monospace;
    text-decoration: none;
  }

a:hover
  {
    background-color: #bdbdbd;
    color: #fff;
    text-decoration: none;
  }

a:visited
  {
    text-decoration: none;
    color: #ff185f;
  }

#body
  {
    width: 500px;
    height: 500px;
    background-color: #fff;

    position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;

    margin: auto;
  }
