h1
  {
    color: #ff185f;
    font: 25px;
    font-family: courier, monospace;
    text-align: center;
  }

p
  {
    font: 15px;
    font-family: courier, monospace;
    text-align: center;
  }

a
  {
    color: #ff185f;
    font: 20px;
    font-family: courier, monospace;
    text-decoration: none;
    text-align: center;
  }
